.container {
  

}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  text-align: center;
  margin-top: 20px;
  border: 10px solid #160b3f;
  margin-bottom: 10px;
   align-items: center;
  justify-content: center;

 
}

div {
  font-size: 25px;

  font-family: 'Roboto Mono', monospace;
  color: red;

}

.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #4b4a10 #fff9db;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #4b4a10 #fff9db;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}
#flags-left{

}
.heading{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maindiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}